html{
    cursor: pointer;
}
#todo-list {
    min-width: 500px;
    min-height: 100px;
    max-width: 108px;
    background-color: #FFFFFF;
    box-shadow:  #AEC4D0 1px 1px 1px 1px;
}
li[completed='true']>span {
    color: #000000;
    text-decoration: line-through;
}
button[isActivated = 'true'] {
    background-color:rgb(0, 217, 255);
}
#todo-list[filterMode='fin'] li[completed='false']{
    display: none;
}
#todo-list[filterMode='work'] li[completed='true']{
    display: none;
}
#todo-list[filterMode='all'] button[filter='all']{
    background-color:  #30d5c8;
}
#todo-list[filterMode='work'] button[filter='work']{
    background-color: #30d5c8;
}
#todo-list[filterMode='fin'] button[filter='fin']{
    background-color:  #30d5c8;
}
#todo-list:not([filtermode]) button[filter='all']{
    background-color: #30d5c8;
}
ol{
    list-style-type: none;
    padding-left:10px;
    max-width: 1080px;
    word-break:break-all;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li> button{
    min-width: 100px;
    min-height: 25px;
    max-height: 25px;
}